<!-- <div class="adjustfullscreen">
<mat-card [ngClass]="{'fullscreen':isCardExpanded}">
 <div id="box">
  <div id="welcomenote">
    <h1>Happy birthday !!! This is your gift from my side. Stay happy, healthy and wealthy !!!</h1> 
    <h3>See who else wants to wish you</h3>
    <button mat-raised-button color="primary" (click)="entrypage()">click</button>
  </div>
<div id="photo">
  <img [src]="imagesrc"/>
</div>

</div>
   

</mat-card>

</div>
  
   -->
<div class="container">
   
<div class="fullscreen">
   <mat-card>
   <mat-card-content>
      <div id="box">
          <div id="welcomenote">
            <h1>September 04, 1996</h1> 
            <h3>Two decades minus 2 years, you were born somewhere in Wardha, India. Grew up in Kamptee. Met us in Mumbai where we had a lot of fun. Now at Pune, still making people happy. It's your birthday, and we are here to celebrate this day with you.</h3>
            <button mat-raised-button color="primary" (click)="entrypage()">This is what we feel about you</button>
          </div>
        <div id="photo">
          <img [src]="imagesrc"/>
        </div>
      </div>
      <div class="balloon">
      <img [src]="balloons" width="250" height="250"/>
    </div>
    </mat-card-content>
  </mat-card>
</div>   
</div>